<%- include('../partials/header') %>

<section id="show-page">
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight No: </div>
    <div><%= flight.flightNo %></div>
    <div>Departs: </div>
    <div><%= flight.departs %></div>
    <form action="/flights" method="POST">
        <label>Arrival:
            <input type="datetime-local" name="departs">
          </label><br>
        <label>Destinations:
            <select name="airport">
              <option value="AUS">AUS</option>
              <option value="DFW">DFW</option>
              <option value="DEN" selected>DEN</option>
              <option value="LAX">LAX</option>
              <option value="SAN">SAN</option>
            </select>
        </label><br>
            <input type="submit" value="Save Flight">
          </label>
    </form>
    <div><%= %></div>
  </section>









<%- include('../partials/footer') %>