<%- include('../partials/header') %>
<h3>Departure Information</h3>
  <section id="dept-info">
    <h4>Airline: </h4>
      <div>
        <%= flight.airline %>
      </div>
    <h4>Airport: </h4>
      <div>
        <%= flight.airport %>
      </div>
    <h4>Flight No: </h4>
      <div>
        <%= flight.flightNo %>
      </div>
    <h4>Departs: </h4>
      <div>
        <%= flight.departs %>
      </div>
  </section>
<h3>Arrival Information</h3>
  <section id="flight-info">
    <% if (flight.destination.length) { %>
      <% flight.destination.forEach(function(dest) { %>
          <h4>Destination Airport:</h4>
            <div>
              <%= dest.airport %>
            </div>
          <h4>Arrives:</h4>
            <div>
              <%= dest.arrival %>
            </div>
    <% }); %>
  </section>
    <% } else { %>
      <h5>No Destinations Availiable</h5>
    <% } %>
      <h3>Ticket Information</h3>
        <section id="ticket-info">
          <% if (tickets.length) { %>
            <% tickets.forEach(function(t) { %>
              <h4>Seat:</h4>
                <div>
                  <%= t.seat %>
                </div>
              <h4>Price:<h4>
                <div>
                  $<%= t.price %>
                </div>
        </section>
                <form action="/tickets/<%= t._id %>?_method=DELETE" method="POST">
                  <input id="delete-ticket" type="submit" name="" value="Delete Ticket">
                </form>
          <% }); %>
              <% } else { %>
                <h5>No Ticketing Information Availiable</h5>
              <% } %>
  <section>
    <h3>Add Flight Destination Information</h3>
      <form method="POST" action="/flights/<%= flight._id %>/destinations">
        <label>Arrival Time:
          <input type="datetime-local" name="arrival">
        </label><br>
        <label>Destination:
      <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN" selected>DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
      </select>
        </label><br>
          <input id="add-destination" type="submit" value="Add Flight Destination">
      </form>
    <h3>Add Ticket Information</h3>
  </section>
  <section>
    <a id="buy-ticket" href="/flights/<%= flight._id %>/tickets/new">Buy Ticket</a>
  </section><br><br>
  <%- include('../partials/footer') %>